@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color:  oklch(96.7% 0.003 264.542);
}